.diaryItemHeader_Title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-scheme-text);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  max-width: 55%;

  @media screen and (width >= 1280px) {
    font-size: 18px;
  }
}

.diaryItemHeader_date {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  color: var(--color-scheme-text);
  @media screen and (width >= 1280px) {
    font-size: 14px;
  }
}
.diaryItem_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
.diaryItem_tagList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
}
.diaryTagList_item {
  pointer-events: none;
  user-select: none;

  border: 1px solid var(--opacity-transparent);
  border-radius: 100px;
  padding: 2px 12px;
  background: var(--color-scheme-foreground);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-scheme-text);
  @media screen and (width >= 1280px) {
    font-size: 16px;
  }
}
