.diaryList_form {
  display: flex;

  flex-direction: column;
  align-items: center;

  margin-top: 48px;
  margin-bottom: 24px;
  width: 100%;
  height: 100%;

  overflow-y: auto;
}

.diaryList_fieldWrap {
  width: 100%;

  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.diaryList_fieldLabel {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-scheme-text);
  margin-bottom: 8px;
}

.diaryList_fieldInput {
  max-height: 204px;
  border: 2px solid var(--opacity-transparent) !important;
  border-radius: 12px !important;
  padding: 8px 12px !important;
  min-height: 40px !important;
  resize: none !important;
  padding-inline: 18px !important;
  background: var(--opacity-neutral-darkest-5) !important;
  &::placeholder {
    font-family: var(--font-family) !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 1.5 !important;
    color: var(--opacity-neutral-darkest-60) !important;
  }
}

.diaryList_fieldInput.error {
  border: 1px solid var(--color-red) !important;
}

.diaryList_fieldInput.error::placeholder {
  color: var(--color-red) !important;
}

.diaryList_fieldError {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  color: var(--color-red);
}
