.breadcrumbsContainer {
  margin-left: 12px;
  margin-bottom: 17px;

  display: flex;
  align-items: center;

  width: 100%;
  background-color: var(--color-scheme-background);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: var(--color-scheme-text);
}

.crumb_item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  align-items: center;
}

.crumb_link {
  overflow: hidden;
  display: inline-block;

  max-width: 80px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.arrow {
  margin-top: 2px;
  margin-inline: 8px;
}

@media screen and (min-width: 767.98px) {
  .breadcrumbsContainer {
    margin-left: 0;
  }
}
